---
import Daffa_Nofiansyah_image from "../assets/Daffa-Nofiansyah-image.png"
---

<section class="flex mx-16">
  <div class="intro-left w-3/5 font-semibold relative">
    <div class="intro-name flex flex-col justify-center h-full">
      <h1 class="text-7xl mb-4 z-10">DAFFA<br />NOFIANSYAH</h1>
      <!-- <small
        class="text-CustomYellow bg-current border-2 border-current rounded-full fill-current"
        >test bang ini garis</small>
        <h5 class="border">test</h5> -->
    </div>
    <img src={Daffa_Nofiansyah_image} alt="Daffa Nofiansyah" class="absolute top-0 right-0 -z-10" />
  </div>
  <div class="intro-right w-2/5 mt-20 mb-20">
    <small class="text-CustomLightGray text-lg">- Introduction</small>
    <p class="text-2xl">
      Daffa Nofiansyah Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
      et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien.
      Daffa Nofiansyah Lorem ipsum dolor sit amet consectetur adipiscing elit Ut
      et massa mi. Aliquam in hendrerit urna. Pellentesque sit amet sapien.
    </p>
  </div>
</section>
