<section id="navbar-container" class="flex mx-16 justify-end gap-36 mt-8">
    <h1 class="text-2xl">Profile</h1>
    <h1 class="text-CustomLightGray text-2xl">Projects</h1>
    <h1 class="text-CustomLightGray  text-2xl">Activities</h1>
</section>